/* 이미지 클리핑
------------------------------------------- */
.top_nav_ico a:nth-child(1), .top_nav_ico a:nth-child(2), .top_nav_ico a:nth-child(3), .top_nav_ico a:nth-child(4), .bottom_nav_ico a:nth-child(1), .bottom_nav_ico a:nth-child(2), .bottom_nav_ico a:nth-child(3), .bottom_nav_ico a:nth-child(4), .friends h4 a, .friends .arr_right:after {
  background-image: url(../img/kakaotalk_img.png);
  background-size: 156px 46px;
  background-repeat: no-repeat;
  width: 1.4em;
  height: 1.4em;
}
.top_nav_ico a:nth-child(1) {
  background-position: 0 0;
}
.top_nav_ico a:nth-child(2) {
  background-position: -24px 0;
}
.top_nav_ico a:nth-child(3) {
  background-position: -47px 0;
}
.top_nav_ico a:nth-child(4) {
  background-position: -71px 0;
}
.bottom_nav_ico a:nth-child(1) {
  background-position: -23px -24px;
}
.bottom_nav_ico a:nth-child(2) {
  background-position: -47px -24px;
}
.bottom_nav_ico a:nth-child(3) {
  background-position: -93px -24px;
}
.bottom_nav_ico a:nth-child(4) {
  width: 1.7em;
  background-position: -116px -24px;
}

/* float 마감제
------------------------------------------- */
.clear:after {
  content: "";
  display: block;
  float: none;
  clear: both;
}

/* 스크린 리더용 글자 숨기기
------------------------------------------- */
.blind {
  display: block;
  height: 0;
  text-indent: -10000px;
}

#header {
  position: relative;
  z-index: 1;
}
#top_nav {
  position: fixed;
  top: 0;
  width: 91%;
  height: 1.8em;
  line-height: 1.7em;
  padding: 1em 4.25% 0.6em;
  background-color: #fff;
  z-index: 1;
}
#top_nav h2 {
  display: inline-block;
  font-size: 1.4em;
}
.top_nav_ico {
  float: right;
  margin-left: 4.25%;
}
.top_nav_ico a {
  float: left;
  margin-left: 1em;
}
.top_nav_ico img {
  width: 1.4em;
}
#bottom_nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4.25em;
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
  z-index: 1;
}
.bottom_nav_ico {
  padding: 0.8em 4.25%;
}
.bottom_nav_ico a {
  display: inline-block;
  margin: 0 8.3%;
}
.bottom_nav_ico a img {
  width: 1.4em;
}
#container {
  position: relative;
  padding: 3rem 4.25% 4rem;
}
article ul li a:active {
    background-color: #f9f9f9;
    height: 3em;
}